name: Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: "lts/*"
          registry-url: "https://registry.npmjs.org"
      - run: bun i --frozen-lockfile
      - run: bun run build
      - run: bun run lint
      - run: bun run build_fixtures
      - run: bun run test
      - run: bunx playwright install --with-deps chromium
      - run: bun run e2e
