name: Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "lts/*"
          registry-url: "https://registry.npmjs.org"
      - run: bun i --frozen-lockfile
      - run: bun run build
      - run: bun run lint
      - run: bun run build_fixtures
      - run: bun run test
      - run: bunx playwright install --with-deps chromium
      - run: bun run e2e
