name: Publish

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: oven-sh/setup-bun@db6bcf6eb8d88a8aa03265b887ec7bd84d64cd68 # v2
      - run: bun i --frozen-lockfile
      - run: bun run build

      - name: Publish vite-plugin-bun-csp
        if: startsWith(github.ref, 'refs/tags/vite-plugin-bun-csp-')
        run: |
          cd ./packages/vite-bun
          bun pm pack --quiet
          npm publish --provenance --access public *.tgz
          rm *.tgz

      - name: Publish csp-bun-cli
        if: startsWith(github.ref, 'refs/tags/csp-bun-cli-')
        run: |
          cd ./packages/cli-bun
          bun pm pack --quiet
          npm publish --provenance --access public *.tgz
          rm *.tgz
