name: Publish

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
      - run: bun i --frozen-lockfile
      - run: bun run build

      - name: Publish vite-plugin-bun-csp
        if: startsWith(github.ref, 'refs/tags/vite-plugin-bun-csp-')
        run: |
          cd ./packages/vite-bun
          bun pm pack --quiet
          npm publish --provenance --access public *.tgz
          rm *.tgz

      - name: Publish csp-bun-cli
        if: startsWith(github.ref, 'refs/tags/csp-bun-cli-')
        run: |
          cd ./packages/cli-bun
          bun pm pack --quiet
          npm publish --provenance --access public *.tgz
          rm *.tgz
