name: Release Please
on:
  push:
    branches:
      - main
  workflow_dispatch: {}
jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      # - name: Release Please
      #   uses: googleapis/release-please-action@c2a5a2bd6a758a0937f1ddb1e8950609867ed15c # v4
      #   with:
      #     token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
      - name: Create Releases
        id: github-release
        run: |
          npx -y github:stan-stately/release-please#stan/additional-package-paths github-release \
            --token ${{ secrets.RELEASE_PLEASE_TOKEN }} \
            --repo-url ${{ github.repository }} \
            --config-file release-please-config.json \
            --manifest-file .release-please-manifest.json \
            --debug

      - name: Create Pull Requests
        id: release-pr
        run: |
          npx -y github:stan-stately/release-please#stan/additional-package-paths release-pr \
            --token ${{ secrets.RELEASE_PLEASE_TOKEN }} \
            --repo-url ${{ github.repository }} \
            --config-file release-please-config.json \
            --manifest-file .release-please-manifest.json \
            --debug
